<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiking Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 
    <link rel = "stylesheet" type = "text/css" href = ".\bootstrap\css\bootstrap-iso.css" />
  </head>
  <body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Theme Views
            </h1>
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                <div class="level-item">
                    <nav class="breadcrumb has-dot-separator" aria-label="breadcrumbs">
                        <ul>
                        <li><a href="#">Manage</a></li>
                        <li><a href="#">Create</a></li>
                        <li class="is-active"><a href="#" aria-current="page">View</a></li>
                        <li><a href="#">Social</a></li>
                        </ul>
                    </nav>
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">
                    <div class="field">
                        <!-- <a class="button is-success is-rounded">Rounded</a> -->
                        <div class="control">
                            <div class="columns is-mobile">
                                <a class="button is-info">Search</a>
                                <input class="input is-info" type="text" placeholder="Success input">
                            </div>
                        </div>
                    </div>
                </div>
            </nav>        
        </div> 
    </section>

    <!-- Pagination -->
    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
    <br />

    <!-- Themes -->
    <div class="container">
        <div class="columns is-desktop is-multiline ">

            {% if user_input['feature_names']|length > 0 %}
                {% for name in user_input['feature_names'] %}
                    <div class="column is-4">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <a href="/reports?theme={{ name }}">
                                    <p class="title theme-name" style="padding-bottom: 5%">{{ name }}</p>
                                    <figure class="image is-16by9">
                                </a>
                                <!-- style="width:250px;height:300px;" -->
                                <img src="data:image/jpg;charset=utf-8;base64,{{ user_input['feature_imgs'][loop.index - 1] }}">
                                </figure>
                            </article>
                        </div>
                    </div>  
                {% endfor %}
            {% else %}
                    <div class="tile is-parent">
                        No themes available now
                    </div>
            {% endif %}
        </div>
    </div>      
  </body>

  <script type="text/javascript" src="theme_management.js"></script>

</html>