body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  background-color: lightgray;
  margin: 0.25in;
}

h1 {
  text-align: center;
  color: rgb(50, 50, 78)
}

h2 {
  text-align: center;
  color: teal
}

h3 {
  text-align: center;
  color: navy
}

p {
  text-align: justified;
  color: darkblue
}

form {
  text-align: justified;
  color: darkblue
}

div {
  text-align: justified;
  color: darkblue
}

ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

