<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Single Theme Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Theme Views
                </h1>
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                    <div class="level-item">
                        <nav class="breadcrumb has-dot-separator" aria-label="breadcrumbs">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/personal">Manage</a></li>
                                    <li><a href="/newFeature">New Feature</a></li>
                                    <li><a href="/newReport">New Report</a></li>
                                </ul>
                        </nav>
                        </div>
                    </div>
                    <!-- Right side -->
                    <div class="level-right">
                        <div class="field">
                            <!-- <a class="button is-success is-rounded">Rounded</a> -->
                            <div class="control">
                                <div class="columns is-mobile">
                                    <a class="button is-info" onclick="searchFilter()">Search</a>
                                    <input class="input is-info" id="search-input" type="text" placeholder="Success input" onkeyup="clearFilter()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>        
            </div> 
        </section>

        <div class="container">
            <div class="feature" style="margin-bottom:100px">
                {% if theme_image %}
                    <div id="carousel-demo" class="carousel">
                        <div class="item-1">
                            <img src="data:image/jpg;charset=utf-8;base64,{{ theme_image[0] }}" style="width:auto; height: 600px">
                        </div>
                        <div class="item-2">
                            <img src="data:image/jpg;charset=utf-8;base64,{{ theme_image[1] }}" style="width:auto; height: 600px">
                        </div>
                        <div class="item-3">
                            <img src="data:image/jpg;charset=utf-8;base64,{{ theme_image[2] }}" style="width:auto; height: 600px">
                        </div>
                    </div>
                {% endif %}
                {% if theme_tags %}
                    <div class="top5-tags">
                        {% for tag in theme_tags %}
                        <span class="tag is-dark">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="reports">
                {% if reports[0]|length>0 %}
                    {% for r in reports %}
                    <div class="single-report" style="margin-bottom:100px">
                        <p>Name: {{ user_name[loop.index-1] }}</p>
                        <p>Date: {{ r['date_in'] }}</p>
                        <p>Description: {{ r['description'] }}</p>
                        
                        <div>
                            <p>Tags: 
                            {% for tag in r['tags'] %}
                                <span class="tag is-dark">{{ tag }}</span>
                            {% endfor %}</p>
                        </div>

                        {% for img in report_images[loop.index-1] %}
                            <img src="data:image/jpg;charset=utf-8;base64,{{ img }}" style="width:auto;height:300px;margin-top=20px">
                        {% endfor %}
                        <hr>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>There is no related report stored in our Mongo Database</p>
                {% endif %}
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
		<script>
		bulmaCarousel.attach('#carousel-demo', {
			slidesToScroll: 1,
			slidesToShow: 4
		});
		</script>
    </body>
</html>